<mat-card>
  <div class="settings-list-header">
    <h2 *ngIf="title">{{title}}</h2>
    <!-- TODO: Rather than ngIf based on invalid status, disable the button and provide a tooltip explaination. -->
    <button type="button"
      *ngIf="!hasInvalidField"
      mat-icon-button color="primary" (click)="toggleEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div *ngFor="let item of listComponents" class="settings-list-item">
    <ng-template appSettingsPane></ng-template>
  </div>
</mat-card>
