.settings-list-header {
  display: flex;
  align-items: center;

   > * {
      &:last-child {
        margin-left: auto;
      }
   }
}

div.settings-list-item {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 1rem;
  margin-right: -1rem;
  margin-left: -1rem;

  &:last-of-type {
    border-bottom: none;
  }
}
