<mat-card>
  <div class="settings-list-header">
    <h2 *ngIf="title">{{title}}</h2>

    <!-- Using span for the tooltip as the tooltip won't display when attached to a disabled button. -->
    <span matTooltip="Collapse is disabled due to invalid form value(s)." [matTooltipDisabled]="!hasInvalidField">
      <button type="button"
        mat-icon-button
        [disabled]="hasInvalidField"
        (click)="toggleSettingsVisibility()">
        <mat-icon>{{showSettings ? 'keyboard_arrow_down' : 'keyboard_arrow_down'}}</mat-icon>
      </button>
    </span>
  </div>
  <ul class="settings-list" [@openClose]="settingsVisible ? 'open' : 'closed'">
    <li class="settings-list-item" *ngFor="let item of listComponents">
      <app-settings-pane [settingsPaneItem]="item" [formArray]="formArray"></app-settings-pane>
    </li>
  </ul>
</mat-card>
