<mat-card>
  <div class="settings-list-header">
    <h2 *ngIf="title">{{title}}</h2>
    <!-- TODO: Rather than ngIf based on invalid status, disable the button and provide a tooltip explaination. -->
    <button type="button"
      *ngIf="!hasInvalidField"
      mat-mini-fab (click)="toggleSettingsVisibility()">
      <mat-icon>{{showSettings ? 'keyboard_arrow_down' : 'keyboard_arrow_down'}}</mat-icon>
    </button>
  </div>
  <ul class="settings-list">
    <li class="settings-list-item" *ngFor="let item of listComponents">
      <ng-template appSettingsPane></ng-template>
    </li>
  </ul>
</mat-card>
