:host {
  display: block;
  margin-bottom: 2rem;
}

.settings-list-header {
  display: flex;
  align-items: center;

   > * {
    &:last-child:not(:first-child) {
      margin-left: auto;
    }
  }
  h2 {
    margin-bottom: 0;
  }
}

.settings-list {
  // Reset UL styles.
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

li.settings-list-item {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 1rem;
  margin-right: -1rem;
  margin-left: -1rem;

  // Removed margin from h2 and added to the first list item rather than the list itself so that the padding is included
  // in the animation when collapsing the list and doesn't take up space when in collapsed state (as the h2 margin did).
  &:first-child {
    margin-top: 1rem;
  }

  &:last-of-type {
    border-bottom: none;
  }
}
