.app-settings-pane {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  > label {
    width: 30%;
  }

  .edit {
    display: none;
  }

  &.is-editing {
    .edit {
      display: block;
    }
    .view {
      display: none;
    }
  }
}
