.app-settings-pane {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  > label {
    width: 30%;
  }

  .settings-pane-edit-button {
    position: absolute;
    right: 0;
    top: -0.5rem;
  }

  .edit {
    display: none;
  }

  &.is-editing {
    .edit {
      display: block;
    }
    .view {
      display: none;
    }
  }

}
